{% extends 'base.html.twig' %}

{% block body %}
<div>
    <pre><strong>/getMe:</strong> {{ me | json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) }}</pre>
</div>
{% endblock %}